body {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  background-color: #1d9fc5;
  padding: 6px 14px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: +1;
}

.sidebar .logo_content .logo {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .logo_content .logo .icon {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 40px;
  margin-right: 5px;
  opacity: 0;
  width: 0px;
  pointer-events: none;
}

.sidebar .logo_content .logo .logo_name {
  font-size: 0px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
}

.sidebar #btn {
  position: absolute;
  left: 50%;
  top: 21px;
  font-size: 20px;
  color: white;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sidebar .nav_list {
  margin-top: 30px;
}

.sidebar .nav_list li {
  position: relative;
  height: 50px;
  width: 100%;
  margin-left: 5px;
  list-style: none;
}

.sidebar .nav_list li .search {
  position: relative;
}

.sidebar .nav_list li .search .ic {
  cursor: pointer;
  z-index: 99;
  position: absolute;
  top: 7px;
  left: 10px;
  font-size: 10px;
  color: white;
}

.sidebar .nav_list li .search input {
  opacity: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: white;
}

.sidebar .nav_list li a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 12px;
  padding: 5px 0px 5px 0px;
}

.sidebar .nav_list li a .ic {
  margin-right: 30px;
  height: 20px;
  min-width: 20px;
  border-radius: 12px;
  line-height: 20px;
}

.sidebar .nav_list li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav_list li a:hover {
  color: #11101d;
  background: white;
}

.sidebar .nav_list li .t-tip {
  position: absolute;
  font-size: 20px;
  top: 38%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 35px;
  left: 60px;
  width: 122px;
  text-align: center;
  background: white;
  border-radius: 12px;
  line-height: 35px;
  -webkit-box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  opacity: 0;
}

.sidebar .nav_list li:hover .t-tip {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  top: 60%;
  left: 60px;
}

.sidebar .profile {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  bottom: 0px;
  left: 0px;
  padding: 0px 0px 20px 5px;
}

.sidebar .profile .profile_name {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.5rem;
  color: white;
}

.sidebar .profile .ic {
  margin-left: 0px;
}

.sidebar .profile #logout {
  font-size: 35px;
  margin-right: 10px;
  left: 0;
  text-align: center;
  cursor: pointer;
  color: white;
  cursor: pointer;
  border-radius: 12px;
  padding: 5px;
}

.sidebar .profile #logout:hover {
  color: #11101d;
  background: white;
}

.sidebar .profile .ic {
  font-size: 25px;
  color: white;
  margin-right: 5px;
}

.sidebar.active {
  width: 270px;
}

.sidebar.active .logo_content .logo .icon {
  width: 40px;
  opacity: 1;
}

.sidebar.active .logo_content .logo_name {
  font-size: 20px;
  opacity: 1;
}

.sidebar.active #btn {
  left: 90%;
}

.sidebar.active .nav_list li .search input {
  opacity: 1;
}

.sidebar.active .nav_list li a {
  padding: 5px 20px 5px 5px;
}

.sidebar.active .nav_list li a .link_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar.active .nav_list li:hover .t-tip {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  top: 60%;
}

.sidebar.active .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.sidebar.active .profile #logout {
  position: absolute;
  right: 0px;
  left: 80%;
  font-size: 45px;
}

.sidebar.active .profile .profile_name {
  font-size: 15px;
}

.home_content {
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#5c459b), to(#0ca3dd));
  background-image: linear-gradient(to bottom right, #5c459b, #0ca3dd);
  color: white;
  position: relative;
  min-height: 100vh;
  width: calc(100% - 60px);
  left: 60px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.home_content.active {
  overflow: auto;
  width: calc(100% - 270px);
  left: 270px;
}
/*# sourceMappingURL=home.css.map */